@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background: rgba(254, 254, 254);
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
